* {
    padding: 0;
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
hr {
    width: 60px;
    margin: 20px auto;
    height: 3px;
    background:black;
    border: none;
}
h1 {
    font-size: 60px;
}

.h {
    height: 600px;
}
.image-fluid {
    width: 100%;
}
.first {
    width: 45%;
    height: 670px;
    position: relative;
}
.first img{
    width: 100%;
}
.second, .image-item {
    width: 45%;
}
.image-item img {
    width:100%;

}
.image-item {
    position: relative;
}
.image-item:hover .overlay {
    opacity: 0.5;
}
.overlay {
    position: absolute;
    background: blue;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    transition: 0.3s;
}
.first:hover .overlay{
    opacity: 0.5;

}
.text {
    position: absolute;
    top: 280px;
    left: 220px;
    text-align: center;
    color:white;
}
.text2 {
    text-align: center;
    position: absolute;
    top: 120px;
    left: 120px;
    color:white;
}
